# Missing Data

In [2]:
import numpy as np
import pandas as pd

In [3]:
# For giving out NAN
nan_value = np.nan
nan_value

nan

In [4]:
d = {'A':[1,2,nan_value],'B':[5,nan_value,nan_value],'C':[1,2,3]}

In [5]:
df = pd.DataFrame(d)

In [6]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

## Dropping values

In [7]:
# For dropping NAN values
df.dropna()

     A    B  C
0  1.0  5.0  1

In [8]:
# bY defaulty axis = 0( Along the rows )
df.dropna(axis = 1) # For dropping values from columns

   C
0  1
1  2
2  3

In [14]:
# Specific threshold
df.dropna(thresh = 2) # Dropping only from row "2"

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

# Filling missing values

In [19]:
# fillna value
# For filling the NAN values we use fillna
df.fillna(value = "Filled Value")

              A             B  C
0             1             5  1
1             2  Filled Value  2
2  Filled Value  Filled Value  3

In [23]:
# Finding the mean value of values in col A
df['A'].mean()

1.5

In [24]:
# fillna mean value
df['A'] # Column 'A'
df['A'].fillna(value = df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

# END