# PANDAS

# Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
# This is just using for further use
labels = ['a','b','c'] # Python list
my_data = [10,20,30] # Python list
arr = np.array(my_data) # A numpy array
d = {'a':10, 'b':20, "c":30}  # Python dictionary

In [3]:
labels

['a', 'b', 'c']

In [4]:
my_data

[10, 20, 30]

In [5]:
arr

array([10, 20, 30])

In [6]:
d

{'a': 10, 'b': 20, 'c': 30}

In [7]:
pd.Series(data = my_data) # Making series in pandas,note they also make serial no. for you

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data = d) # Series in dictionaries IMPORTANT

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(data = arr) # Using a numpy array

0    10
1    20
2    30
dtype: int32

In [10]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

### Series with labeled index

In [11]:
pd.Series(data = my_data, index = labels) # Using 'labels' as index

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(my_data, labels) # Meathod 2 of doing the same

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(arr, labels) # Using numpy array in the same

a    10
b    20
c    30
dtype: int32

In [14]:
pd.Series(data=['Himanshu', 'Ishika', 'Vineeta', 'Jagdish']) # Any type data is allowed in pandas

0    Himanshu
1      Ishika
2     Vineeta
3     Jagdish
dtype: object

In [15]:
pd.Series(data = [sum, print, len]) # Python built in funtions too...

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Grabbing information from a series

In [16]:
ser1 = pd.Series(['USA', 'India', 'Japan', 'Germany'], [1,2,3,4])
ser1 # Making a SERIES for further use

1        USA
2      India
3      Japan
4    Germany
dtype: object

In [17]:
ser2 = pd.Series(['USA', 'India', 'Italy', 'Germany'], [1,2,5,4])
ser2 # Making another SERIES for the use

1        USA
2      India
5      Italy
4    Germany
dtype: object

In [19]:
print(ser1[1]) # Grabbing information from series 1
print(ser1[2])
print(ser1[3])
print(ser1[4])

USA
India
Japan
Germany

In [20]:
print(ser2[1]) # Grabbing information from series 2
print(ser2[2])
print(ser2[5])
print(ser2[4])

USA
India
Italy
Germany

In [25]:
ser3 = pd.Series(data = labels, index = [1,2,3]) # NOthing but making of a new ser
ser3

1    a
2    b
3    c
dtype: object

In [26]:
print(ser3[1]) # Components of series 3
print(ser3[2])
print(ser3[3])

a
b
c

## OPERATIONS with series

In [34]:
print(f'series_1 = \n{ser1}\n') # Printing just for further use
print(f'series_2 = \n{ser2}\n')

series_1 =
1        USA
2      India
3      Japan
4    Germany
dtype: object

series_2 =
1        USA
2      India
5      Italy
4    Germany
dtype: object

In [37]:
ser1 + ser2 # This will add up the data and NAN in case no common component found in both of the series

1            USAUSA
2        IndiaIndia
3               NaN
4    GermanyGermany
5               NaN
dtype: object

In [40]:
ser4 = pd.Series(data = [1,2,3,4,5,6,7,8,9,10], index = ['India','USA','Japan','Russia','Brazil','China','Australia','New Zealand','USSR','Nigeria'])
ser4

India           1
USA             2
Japan           3
Russia          4
Brazil          5
China           6
Australia       7
New Zealand     8
USSR            9
Nigeria        10
dtype: int64

In [41]:
ser5 = pd.Series(data = [2,3,5,4,3,2,4,5,6,9], index = ['India','USA','Japan','Russia','Brazil','Hong Kong','Australia','New Zealand','Kenya','Nigeria'])
ser5

India          2
USA            3
Japan          5
Russia         4
Brazil         3
Hong Kong      2
Australia      4
New Zealand    5
Kenya          6
Nigeria        9
dtype: int64

In [42]:
ser4 + ser5 # This will add up the data of both the series

Australia      11.0
Brazil          8.0
China           NaN
Hong Kong       NaN
India           3.0
Japan           8.0
Kenya           NaN
New Zealand    13.0
Nigeria        19.0
Russia          8.0
USA             5.0
USSR            NaN
dtype: float64

In [51]:
ser4 - ser5 # Subtraction of the series DATA

Australia      3.0
Brazil         2.0
China          NaN
Hong Kong      NaN
India         -1.0
Japan         -2.0
Kenya          NaN
New Zealand    3.0
Nigeria        1.0
Russia         0.0
USA           -1.0
USSR           NaN
dtype: float64

In [52]:
ser4 / ser5 # DIVIDE

Australia      1.750000
Brazil         1.666667
China               NaN
Hong Kong           NaN
India          0.500000
Japan          0.600000
Kenya               NaN
New Zealand    1.600000
Nigeria        1.111111
Russia         1.000000
USA            0.666667
USSR                NaN
dtype: float64

In [53]:
ser4 % ser5 # remainder

Australia      3.0
Brazil         2.0
China          NaN
Hong Kong      NaN
India          1.0
Japan          3.0
Kenya          NaN
New Zealand    3.0
Nigeria        1.0
Russia         0.0
USA            2.0
USSR           NaN
dtype: float64